<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="congratulations.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="userLoginHeader">
            <img id="logo" src="EventPlugLogo.png" />
        </div>
        
        <div id="congrats">
            
            Congratulations and welcome to EventPlug!
            <br/>
            <br/>
            Your account has been successfully created!
            <br/>
            Press Continue to return to the login page.
            <br/>
            <br/>
            <br/>
    
        <form action="/" method="get">
            <input id="continueButton" type="submit" value="Continue"/>
        </form>
            
        </div>
        {{> footer}}
    </body>
</html>